*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2f384f;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #e15869;
  outline: 1px solid slategrey;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.data-div {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #3d5f7600;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.data-div:last-child {
  margin-right: 0;
}

#div2 {
  height: 700px;
  width: 60%;
  position: relative;
}

.search-bar {
  margin-bottom: 10px;
}

#data-table {
  width: 100%;
}

#data-table th, #data-table td {
  padding: 8px;
}

#data-table thead {
  text-align: left;
}


.table-container {
  height: calc(100% - 40px); /* Subtract the height of the search bar from the container height */
  overflow-y: auto;
}

#myInput {
  padding: 5px;
  box-sizing: border-box;
  width: 20%;
}

/* Ensure that the table header stays fixed during scrolling */
#data-table thead {
  position: sticky;
  top: 0;
  background-color: #8a4762;
  outline: 1px solid black;
  color: #fff;
}

.arrow-icon {
  display: none;
  margin-left: 5px;
}

.sortable.selected .arrow-icon {
  display: inline-block; /* Display the arrow when selected */
}

.arrow-up::before {
  content: '\25B2'; /* Unicode character for upward arrow */
}

.arrow-down::before {
  content: '\25BC'; /* Unicode character for downward arrow */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
}

.flex-item {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#data-table-filter {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#data-table-filter th,
#data-table-filter td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#data-table-filter th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color: #9faab4;
}

.selected {
  background-color: #9faab4;
}

button {
  padding: 8px;
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-container {
  display: flex;
  align-items: center;
}

.selected-value-display {
  margin-left: 10px;
  font-style: italic;
  color: #555;
}


#scatter-plot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  border: 1px solid #ddd;
}

.legend {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.legend div {
  display: flex;
  align-items: center;
}

.legend div span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.slider {
  width: 300px;
  margin: 10px;
}


.flex-containerd {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  background-color: #f0f0f0;
}

.flex-itemd {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.banner {
  background-color: #8a4762;
  /* Set your desired background color */
  color: #fff;
  /* Set your desired text color */
  text-align: center;
  padding: 40px;
  /* Increase the padding for a larger banner */
  outline: 2px solid black;
}

.banner h1 {
  margin: 0;
  font-size: 36px;
  /* Increase the font size for the heading */
}

.banner p {
  margin: 10px 0 0;
  font-size: 18px;
  /* Increase the font size for the paragraph */
}

.wrapper {
  max-width: 50%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.wrapper2 {
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.intro-text {
  background-color: #f0f0f000;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.intro {
  color: white;
}


.scatter-container {
  display: flex;
}

.scatter-plot-container {
  flex: 0.7;
  /* Adjust the flex property to make it smaller or larger */
  margin-right: 20px;
  /* Add margin for separation */
}

.axis-description {
  width: 200px;
  padding: 20px;
  background-color: #8a4762;
  box-sizing: border-box;
  text-align: left;
}

#scatter-plot {
  width: 100%;
  border: 1px solid black;
  background-color: whitesmoke;
}

#x-axis,
#y-axis {
  width: 100%;
  margin-bottom: 10px;
}

.remi {
  background-color: rgba(255, 0, 0, 0);
  border: green;
  border-width: 0px;
  height: fit-content;
}
