body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.data-div {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.data-div:last-child {
  margin-right: 0;
}

#div2 {
  height: 300px;
  width: 60%;
  position: relative;
}

.search-bar {
  margin-bottom: 10px;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
}

#data-table th, #data-table td {
  padding: 8px;
}

#data-table thead {
  text-align: left;
}


.table-container {
  height: calc(100% - 40px); /* Subtract the height of the search bar from the container height */
  overflow-y: auto;
}

#myInput {
  padding: 5px;
  box-sizing: border-box;
  width: 20%;
}

/* Ensure that the table header stays fixed during scrolling */
#data-table thead {
  position: sticky;
  top: 0;
  background-color: #3498db;
  color: #fff;
}

.arrow-icon {
  display: none;
  margin-left: 5px;
}

.sortable.selected .arrow-icon {
  display: inline-block; /* Display the arrow when selected */
}

.arrow-up::before {
  content: '\25B2'; /* Unicode character for upward arrow */
}

.arrow-down::before {
  content: '\25BC'; /* Unicode character for downward arrow */
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
}

.flex-item {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#data-table-filter {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#data-table-filter th,
#data-table-filter td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#data-table-filter th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color: #9faab4;
}

.selected {
  background-color: #9faab4;
}

button {
  padding: 8px;
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add this CSS for styling the dropdown container */
.dropdown-container {
  display: flex;
  align-items: center;
}

/* Add this CSS for styling the selected value display */
.selected-value-display {
  margin-left: 10px;
  font-style: italic;
  color: #555;
}


#scatter-plot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  border: 1px solid #ddd;
}

.legend {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.legend div {
  display: flex;
  align-items: center;
}

.legend div span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

