*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}



.explanation {
  margin-top: 60px;
  text-align: center;
}

#billionairesBarChart, #billionairesPieChart {
  display: flex;
  justify-content: center;
  background-color: rgb(191, 224, 244);
}

#scatter-plot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  display: flex;
  justify-content: center;
  padding: 0px;
  background-color: rgb(191, 224, 244);
  margin-left: 20px;
  margin-top: 60px;
  justify-items: center;
  align-items: center;
}

.chart-item{
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color: rgb(191, 224, 244);
  border-right: 20px solid white;
}

.banner {
  background-color: rgb(58, 130, 174);
  color: #fff;
  text-align: center;
  padding: 40px;
}

.banner h1 {
  margin: 0;
  font-size: 36px;
  /* Increase the font size for the heading */
}

.scatter-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.scatter-plot-container {
  flex: 0.7;
  /* Adjust the flex property to make it smaller or larger */
  margin-right: 20px;
  /* Add margin for separation */
}

.axis-description {
  width: 15vw;
  height: fit-content;
  padding: 20px;
  background-color: rgb(191, 224, 244);
  box-sizing: border-box;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px;
}

#scatter-plot {
  width: 800px;
  background-color: white;
}

#x-axis, #y-axis {
  width: 100%;
  margin-bottom: 10px;
}

iframe {
  height: 45vw;
  width: 100vw;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(191, 224, 244);
  margin: 20px;
  padding: 40px;
  align-items: center;
}

.intro {
  width: 30%;
}

.select {
  float: right;
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  z-index: 100;
  width: 6vw;
  height: 1.2vw;
  font-weight: 0.5vw;
}

.chart-title {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 1vw;
  font-weight: bold;
  width: 100%;
}
